<div class="modal-wrapper">
  <div mat-dialog-actions>
    <!--  <button mat-button mat-dialog-close>×</button>-->
    <div class="close-btn">
      <svg  mat-dialog-close xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9
     296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38
     412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75
     0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5
     45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0
     45.25l-105.4 105.4L310.6 361.4z"/></svg>
    </div>
  </div>

  <h1 mat-dialog-title>Invest in Loan</h1>
  <div mat-dialog-content>
    <div class="text subtitle">{{data.title}}</div>
    <div class="text available-amount">Amount available: ${{data.available}}</div>
    <div class="text terms">Loan ends in:
      <span *ngIf="timeToEnd.day > 0">{{timeToEnd.day}} days</span>
      <span *ngIf="timeToEnd.hours > 0">{{timeToEnd.hours}} hours</span>
      <span *ngIf="timeToEnd.hours === 0">{{timeToEnd.minutes}} minutes</span>
    <div class="mat-dialog-title">Investment amount</div>

    <form
      [formGroup]="investForm"
      (ngSubmit)="onSubmitForm()"
       class="modal-form">
      <div class="form-content-wrapper">
        <input
          formControlName="amount"
          type="text">
        <button
          type="submit"
          class="btn small-btn">invest</button>
      </div>
      <small *ngIf="investForm.get('amount')?.errors">Please, put only numbers!</small>
    </form>

  </div>
</div>
</div>
